* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fbf8ec;
}

body {
  font-family: "Rubik";
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}

.title {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #414141;
}


.subtitle {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: #414141;
}

.text {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #414141;
}

.text_right {
  color: #606060;
}

.text_price_light {
  color: #606060;
}

.text_light {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #bfbfbf;
}

.public__subtitle {
  margin-bottom: 10px;
}